/** mobile */
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(44, 44, 48);
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img{
    padding: 10px;
    width: 50px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #EAEBED);
}

.menu-burger{
    position: absolute;
    top: 25px;
    right: 0;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.menu-burger span {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 3px;
    background: #EAEBED;
    transition: transform 300ms;
    transform-origin: 0px 100%;
}

.activeLine1 {
    transform: rotate(45deg) translate(-0.5px, -1px);
}

.activeLine2 {
    opacity: 0;
    margin-left: -30px;
}

.activeLine3 {
    transform: rotate(-45deg) translate(4px, 1px);
}

.nav{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;

    /* Este left es para que se oculte hacia la derecha */
    left: 100%;
    transition: 1.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;

    background-color: #17181C;
    box-shadow: 0 1px 1px #4672f3;
    z-index: 1;
}

.openMenu{
    /* aqui le sacamos el 100% del left que tiene por defecto para que se muestre */
    left: 0;
    transition: 1.3s;
}

.nav-menu{
    padding: 0;
}

.nav-links{
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}

.icon{
    margin-right: 10px;
}

.icon, a{
    color: #EAEBED;
    font-weight: 700;
    font-size: 1.2em;
}

.nav-footer{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-footer-text{
    padding: 10px;
    font-weight: 900;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #EAEBED;
}

.footer-separation{
    width: 70%;
    border-top: 1px solid #4672f3;
    margin-bottom: 10px;
}

.nav-footer-text b {
    color: #4672f3;
    font-weight: 900;
}

.nav-footer-text span {
    font-weight: 400;
}

@media screen and (min-width: 420px){

    .logo-container img{
        padding: 10px;
        width: 60px;
        cursor: pointer;
        filter: drop-shadow(2px 2px 4px #EAEBED);
    }
    
}

@media screen and (min-width: 992px){
    .header{
        height: 80px;
        justify-content: space-around;
    }

    .logo-container img{
        padding: 10px;
        width: 70px;
    }

    .menu-burger{
        display: none;
    }

    .nav{
        display: contents;
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav-links{
        position: relative;
        display: inline-block;
        margin: 0 1em 0 0;
    }

    .nav-links::before,
    .nav-links::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #4672f3;
        transform: scaleX(0);
        transition: transform .50s;
    }

    .nav-links::before{
        top: -3px;
        transform-origin: left;
    }

    .nav-links::after{
        bottom: -3px;
        transform-origin: right;
    }

    .nav-links:hover::before,
    .nav-links:hover::after{
        transform: scaleX(1);
    }

    .nav-footer{
        display: none;
    }

}