* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mono', monospace;
  /* background: #F3F3EC; */
  /* background: #17181C; */
}

h1, h2, h3, h4, p, figure{
  margin: 0;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  padding-bottom: 1em;
  gap: 5em;
}